@page "/pools/{EventName}"
@using ClubLog.Blazor.Simple.BrowserRepositories
@using ClubLog.Core.Interfaces
@using ClubLog.Core.Models
@using ClubLog.Core.Utils

@inject PoolRepository PoolRepo
@inject ElimRepository ElimRepo
@inject NavigationManager Nav

@inject IElimService ElimService
@inject IDialogService DialogService

@if (_pools.Count > 0)
{
    <div class="d-flex justify-center">
        <MudText Typo="Typo.h6">Pool selection</MudText>
        <MudPagination Color="Color.Primary" Count=@_pools.Count @bind-Selected="@_selected"/>
    </div>
    <br/>
    <MudContainer MaxWidth="MaxWidth.Medium">
        <PoolTable
            @key="_pools[_selected - 1].PoolId" 
            Pool="_pools[_selected - 1]"
            OnUpdate="UpdatePool"
        />
    </MudContainer>
    <br/>
    <div class="d-flex justify-center">
        <MudButton
            Color="Color.Success"
            Variant="Variant.Filled"
            Size="Size.Large"
            Disabled="!_pools.AllPoolsFinished()"
            OnClick="Finish">
            Finish pools
        </MudButton>
    </div>
}

@code {

    [Parameter] public required string EventName { get; set; }
    
    private int _selected = 1;
    private List<Pool> _pools = new();
    
    protected override async Task OnInitializedAsync()
    {
        _pools = await PoolRepo.GetPoolsForEvent(EventName);
        foreach (var p in _pools)
        {
            foreach (var f in p.Fencers)
            {
                f.Stats.Opponents = p.Fencers.Count - 1;
            }
        }
        StateHasChanged();  
    }

    private async Task UpdatePool(Pool pool)
    {
        await PoolRepo.UpdatePool(pool);
    }

    private async Task Finish()
    {
        var results = ElimService.GetElimResults(_pools);
        
        var parameters = new DialogParameters
        {
            { "Results", results },
            { "StartDes", EventCallback.Factory.Create(this, StartDes) },
        };
        await DialogService.ShowAsync<ResultsDialog>("Pool Results", parameters);
    }

    private async Task StartDes()
    {
        var results = ElimService.GetElimResults(_pools);
        var bouts = ElimService.StartElims(results);
        await ElimRepo.CreateElimBouts(bouts, EventName);
        Nav.NavigateTo($"elims/{EventName}");
    }

}
